In [4]:
#Resolucion del ejercicio 1
print("Según la información disponible en la página del INDEC, las personas desocupadas son aquellas que no tienen trabajo, están buscando activamente trabajo, y están disponibles para comenzar a trabajar.")

Según la información disponible en la página del INDEC, las personas desocupadas son aquellas que no tienen trabajo, están buscando activamente trabajo, y están disponibles para comenzar a trabajar.

In [6]:
#Resolucion del punto A
#instalar pandas si no lo tienen 
!pip install pandas
#importar pandas 
import pandas as pd 
import os 
# Leer el archivo excel 
df_2024 = pd.read_excel("usu_individual_T124.xlsx")
# Filtrar solo región 40
df_2024 = df_2024[df_2024["REGION"] == 40]
display(df_2024)
# Leer archivo .dta
df_2004 = pd.read_stata("Individual_t104.dta")
# Filtrar solo región 40
df_2004 = df_2004[df_2004["region"] == "NOA"]
display(df_2004)
# Unir ambos archivos
df = pd.concat([df_2024, df_2004])
# Resetear índice y mostrar
df.reset_index(drop=True, inplace=True)
print(df.shape)
display(df)

Requirement already satisfied: pandas in c:\users\cece\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\cece\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cece\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cece\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cece\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\cece\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,PDECIFR,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH
20,TQRMNOPUYHMOKPCDEGOIH00800329,2024,1,1,1,1,40,N,18,371,...,8.0,10,187500.0,5,5.0,7,NaN,6.0,8,367
21,TQRMNOPUYHMOKPCDEGOIH00800329,2024,1,1,2,1,40,N,18,371,...,8.0,10,187500.0,5,5.0,7,NaN,6.0,8,367
22,TQRMNOPUYHMOKPCDEGOIH00800329,2024,1,1,3,1,40,N,18,371,...,8.0,10,187500.0,5,5.0,7,NaN,6.0,8,367
23,TQRMNOPUYHMOKPCDEGOIH00800329,2024,1,1,4,1,40,N,18,371,...,8.0,10,187500.0,5,5.0,7,NaN,6.0,8,367
24,TQRMNOTSQHJKLMCDEGOIH00795856,2024,1,1,1,1,40,N,18,716,...,2.0,2,110000.0,3,3.0,4,NaN,3.0,5,706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46010,TQRMNORUYHMOLUCDEHPJB00801354,2024,1,1,2,1,40,S,29,488,...,NaN,6,85800.0,2,2.0,3,2.0,NaN,3,572
46011,TQRMNORUYHMOLUCDEHPJB00801354,2024,1,1,3,1,40,S,29,488,...,NaN,6,85800.0,2,2.0,3,2.0,NaN,3,572
46012,TQRMNORUYHMOLUCDEHPJB00801354,2024,1,1,4,1,40,S,29,488,...,NaN,6,85800.0,2,2.0,3,2.0,NaN,3,572
46013,TQRMNORUYHMOLUCDEHPJB00801354,2024,1,1,5,0,40,S,29,488,...,NaN,6,85800.0,2,2.0,3,2.0,NaN,3,572
46014,TQRMNOPWPHLMLPCDEHPJB00854501,2024,1,1,1,1,40,S,29,438,...,NaN,1,100000.0,2,3.0,3,2.0,NaN,3,498

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
7647,125624,1.0,1.0,Sí,2004.0,1er. Trimestre,NOA,N,Santiago del Estero - La Banda,238.0,...,06,06,07,,07,07,0.0,0.0,0.0,00000
7648,125666,1.0,1.0,Sí,2004.0,1er. Trimestre,NOA,N,Santiago del Estero - La Banda,257.0,...,02,02,03,,02,03,0.0,0.0,0.0,00000
7649,125666,1.0,2.0,Sí,2004.0,1er. Trimestre,NOA,N,Santiago del Estero - La Banda,257.0,...,02,02,03,,02,03,0.0,0.0,0.0,00000
7650,125666,1.0,3.0,Sí,2004.0,1er. Trimestre,NOA,N,Santiago del Estero - La Banda,257.0,...,02,02,03,,02,03,0.0,0.0,0.0,00000
7651,125666,1.0,4.0,Sí,2004.0,1er. Trimestre,NOA,N,Santiago del Estero - La Banda,257.0,...,02,02,03,,02,03,0.0,0.0,0.0,00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17035,288280,1.0,3.0,0.0,2004.0,1er. Trimestre,NOA,S,Gran Tucumán - Tafí Viejo,258.0,...,04,04,06,04,,05,0.0,0.0,0.0,00000
17036,288280,1.0,4.0,0.0,2004.0,1er. Trimestre,NOA,S,Gran Tucumán - Tafí Viejo,258.0,...,04,04,06,04,,05,0.0,0.0,0.0,00000
17037,288280,1.0,5.0,0.0,2004.0,1er. Trimestre,NOA,S,Gran Tucumán - Tafí Viejo,258.0,...,04,04,06,04,,05,0.0,0.0,0.0,00000
17038,288337,1.0,1.0,Sí,2004.0,1er. Trimestre,NOA,S,Gran Tucumán - Tafí Viejo,209.0,...,05,05,07,05,,07,0.0,0.0,0.0,00000
17039,288337,1.0,2.0,Sí,2004.0,1er. Trimestre,NOA,S,Gran Tucumán - Tafí Viejo,209.0,...,05,05,07,05,,07,0.0,0.0,0.0,00000

(19092, 352)

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
0,TQRMNOPUYHMOKPCDEGOIH00800329,2024.0,1.0,1.0,1.0,1.0,40.0,N,18.0,371.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TQRMNOPUYHMOKPCDEGOIH00800329,2024.0,1.0,1.0,2.0,1.0,40.0,N,18.0,371.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TQRMNOPUYHMOKPCDEGOIH00800329,2024.0,1.0,1.0,3.0,1.0,40.0,N,18.0,371.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TQRMNOPUYHMOKPCDEGOIH00800329,2024.0,1.0,1.0,4.0,1.0,40.0,N,18.0,371.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TQRMNOTSQHJKLMCDEGOIH00795856,2024.0,1.0,1.0,1.0,1.0,40.0,N,18.0,716.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19087,288280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,04,04,06,04,,05,0.0,0.0,0.0,00000
19088,288280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,04,04,06,04,,05,0.0,0.0,0.0,00000
19089,288280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,04,04,06,04,,05,0.0,0.0,0.0,00000
19090,288337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,05,05,07,05,,07,0.0,0.0,0.0,00000
19091,288337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,05,05,07,05,,07,0.0,0.0,0.0,00000

In [2]:
#Resolucion del ejercicio 2
#Resolucion del punto B 
#importar pandas 
import pandas as pd 
import os 

# Leer el archivo excel 
df_2024 = pd.read_excel("usu_individual_T124.xlsx")
# Lista de las variables de interes
variables_interes_2024 = [ 'ANO4', 'REGION', 'PONDERA', 'CH03' , 'CH04', 'CH08' ,'CH06', 'CH07' , 'NIVEL_ED' , 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'PP04G' , 'PP07C', 'PP08D1' ]
# Seleccionar las columnas de las variables de interes
df_2024 = df_2024[variables_interes_2024]
# Mostrar el DataFrame
display(df_2024)
# Reportar valores faltantes en df_2024
print("\nValores faltantes en df_2024:")
print(df_2024.isnull().sum())

# Leer archivo .dta
df_2004 = pd.read_stata("Individual_t104.dta")
# Lista de las variables de interes
variables_interes_2004 = [ 'ano4', 'region', 'pondera', 'ch03' , 'ch04', 'ch08' ,'ch06', 'ch07' , 'nivel_ed' , 'estado', 'cat_ocup', 'cat_inac', 'pp04g' , 'pp07c', 'pp08d1' ]
# Seleccionar las columnas de las variables de interes
df_2004 = df_2004[variables_interes_2004]
# Mostrar el DataFrame
display(df_2004)
# Reportar valores faltantes en df_2004
print("\nValores faltantes en df_2004:")
print(df_2004.isnull().sum())

,ANO4,REGION,PONDERA,CH03,CH04,CH08,CH06,CH07,NIVEL_ED,ESTADO,CAT_OCUP,CAT_INAC,PP04G,PP07C,PP08D1
0,2024,42,439,3,2,1,44,5,3,1,3,0,1.0,2.0,-9.0
1,2024,42,439,5,2,1,22,5,5,3,0,4,NaN,NaN,NaN
2,2024,42,439,5,2,1,3,5,7,4,0,5,NaN,NaN,NaN
3,2024,42,675,1,1,1,54,2,4,1,3,0,1.0,2.0,250000.0
4,2024,42,675,2,2,4,53,2,4,1,3,0,1.0,2.0,200000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46045,2024,1,3410,1,2,1,43,3,3,1,3,0,8.0,2.0,250000.0
46046,2024,1,3410,3,1,1,21,5,3,0,0,0,NaN,NaN,NaN
46047,2024,1,3410,3,1,1,20,5,3,0,0,0,NaN,NaN,NaN
46048,2024,1,3410,3,1,1,11,5,3,0,0,0,NaN,NaN,NaN
46049,2024,1,3410,3,2,1,24,5,5,0,0,0,NaN,NaN,NaN

Valores faltantes en df_2024:
ANO4            0
REGION          0
PONDERA         0
CH03            0
CH04            0
CH08            0
CH06            0
CH07            0
NIVEL_ED        0
ESTADO          0
CAT_OCUP        0
CAT_INAC        0
PP04G       25725
PP07C       25725
PP08D1      25725
dtype: int64

,ano4,region,pondera,ch03,ch04,ch08,ch06,ch07,nivel_ed,estado,cat_ocup,cat_inac,pp04g,pp07c,pp08d1
0,2004.0,Gran Buenos Aires,1299.0,Jefe,Varón,Obra social (incluye PAMI),79.0,Viudo,Secundaria Incompleta,Inactivo,0.0,Jubilado/pensionado,0.0,0.0,0.0
1,2004.0,Gran Buenos Aires,2018.0,Jefe,Mujer,No paga ni le descuentan,67.0,Separado o divorciado,Primaria Completa,Ocupado,Cuenta propia,0.0,En esta vivienda,0.0,0.0
2,2004.0,Gran Buenos Aires,1486.0,Jefe,Mujer,Obra social (incluye PAMI),74.0,Viudo,Primaria Completa,Inactivo,0.0,Jubilado/pensionado,0.0,0.0,0.0
3,2004.0,Gran Buenos Aires,1674.0,Jefe,Varón,Mutual/Prepaga/Servicio de emergencia,54.0,Casado,Primaria Completa,Ocupado,Cuenta propia,0.0,En un local/oficina/establecimiento/negocio/ta...,0.0,0.0
4,2004.0,Gran Buenos Aires,1674.0,Cónyuge/Pareja,Mujer,Mutual/Prepaga/Servicio de emergencia,51.0,Casado,Superior Universitaria Completa,Inactivo,0.0,Ama de casa,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45284,2004.0,Patagónica,123.0,Jefe,Varón,Obra social (incluye PAMI),37.0,Casado,Superior Universitaria Completa,Ocupado,Obrero o empleado,0.0,En un local/oficina/establecimiento/negocio/ta...,"No (Incluye permanente, fijo, estable, de planta)",1800.0
45285,2004.0,Patagónica,123.0,Cónyuge/Pareja,Mujer,Obra social (incluye PAMI),35.0,Casado,Secundaria Completa,Ocupado,Obrero o empleado,0.0,En un local/oficina/establecimiento/negocio/ta...,"No (Incluye permanente, fijo, estable, de planta)",1100.0
45286,2004.0,Patagónica,123.0,Hijo/Hijastro,Mujer,Obra social (incluye PAMI),13.0,Soltero,Primaria Incompleta (incluye educación especial),Inactivo,0.0,Estudiante,0.0,0.0,0.0
45287,2004.0,Patagónica,123.0,Hijo/Hijastro,Mujer,Obra social (incluye PAMI),5.0,Soltero,Sin instrucción,Menor de 10 años,0.0,Menor de 6 años,0.0,0.0,0.0
45288,2004.0,Patagónica,123.0,Hijo/Hijastro,Varón,Obra social (incluye PAMI),4.0,Soltero,Sin instrucción,Menor de 10 años,0.0,Menor de 6 años,0.0,0.0,0.0

Valores faltantes en df_2004:
ano4        0
region      0
pondera     0
ch03        0
ch04        0
ch08        0
ch06        0
ch07        0
nivel_ed    0
estado      0
cat_ocup    0
cat_inac    0
pp04g       0
pp07c       0
pp08d1      0
dtype: int64

In [ ]:
#Resolucion del ejercicio 3

In [ ]:
#Resolucion del ejercicio 4

In [ ]:
#Resolucion del ejercicio 5

In [ ]:
#Resolucion del ejercicio 6

In [ ]:
#Resolucion del ejercicio 7

In [ ]:
#Resolucion del ejercicio 8

In [ ]:
#Resolucion del ejercicio 9

In [1]:
#Para convertir archivo .ipynb a pdf sin incluir los codigos
#Instala nbconvert si no lo tienes
!pip install nbconvert
#Usar el siguiente comando en la terminal: jupyter nbconvert --to pdf --TemplateExporter.exclude_input=True tu_archivo.ipynb

Requirement already satisfied: nbconvert in c:\users\usuario\anaconda3\lib\site-packages (7.16.4)
Requirement already satisfied: beautifulsoup4 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (4.1.0)
Requirement already satisfied: defusedxml in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: jinja2>=3.0 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (3.1.4)
Requirement already satisfied: jupyter-core>=4.7 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (5.7.2)
Requirement already satisfied: jupyterlab-pygments in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (0.1.2)
Requirement already satisfied: markupsafe>=2.0 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (2.1.3)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (2.0.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (0.8.0)
Requirement already satisfied: nbformat>=5.7 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (5.10.4)
Requirement already satisfied: packaging in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (24.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (1.5.0)
Requirement already satisfied: pygments>=2.4.1 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (2.15.1)
Requirement already satisfied: tinycss2 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (1.2.1)
Requirement already satisfied: traitlets>=5.1 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (5.14.3)
Requirement already satisfied: six>=1.9.0 in c:\users\usuario\anaconda3\lib\site-packages (from bleach!=5.0.0->nbconvert) (1.16.0)
Requirement already satisfied: webencodings in c:\users\usuario\anaconda3\lib\site-packages (from bleach!=5.0.0->nbconvert) (0.5.1)
Requirement already satisfied: platformdirs>=2.5 in c:\users\usuario\anaconda3\lib\site-packages (from jupyter-core>=4.7->nbconvert) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\usuario\anaconda3\lib\site-packages (from jupyter-core>=4.7->nbconvert) (305.1)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\usuario\anaconda3\lib\site-packages (from nbclient>=0.5.0->nbconvert) (8.6.0)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\usuario\anaconda3\lib\site-packages (from nbformat>=5.7->nbconvert) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\usuario\anaconda3\lib\site-packages (from nbformat>=5.7->nbconvert) (4.23.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\usuario\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert) (2.5)
Requirement already satisfied: attrs>=22.2.0 in c:\users\usuario\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\usuario\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\usuario\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\usuario\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (0.10.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (2.9.0.post0)
Requirement already satisfied: pyzmq>=23.0 in c:\users\usuario\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (25.1.2)
Requirement already satisfied: tornado>=6.2 in c:\users\usuario\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (6.4.1)

In [9]:
#importar pandas 
import pandas as pd 
import os 
# Leer archivo .dta
df_2004 = pd.read_stata("Individual_t104.dta")
# Mostrar el DataFrame
display(df_2004)

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
0,125098,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,...,07,,06,06,,04,0.0,0.0,0.0,00000
1,125397,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,...,00,,00,00,,00,0.0,0.0,0.0,00000
2,125515,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,...,07,,07,07,,05,0.0,0.0,0.0,00020
3,125558,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,08,,08,08,,06,0.0,0.0,0.0,00000
4,125558,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,08,,08,08,,06,0.0,0.0,0.0,00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45284,285733,1.0,1.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45285,285733,1.0,2.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45286,285733,1.0,3.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45287,285733,1.0,4.0,0.0,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45288,285733,1.0,5.0,0.0,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000