In [4]:
#Resolucion del ejercicio 1
print("Según la información disponible en la página del INDEC, las personas desocupadas son aquellas que no tienen trabajo, están buscando activamente trabajo, y están disponibles para comenzar a trabajar.")

Según la información disponible en la página del INDEC, las personas desocupadas son aquellas que no tienen trabajo, están buscando activamente trabajo, y están disponibles para comenzar a trabajar.

In [18]:
#Resolucion del ejercicio 2
#Resolucion del punto A 
#instalar pandas si no lo tienen 
!pip install pandas
#importar pandas 
import pandas as pd 
import os 
# Leer el archivo excel 
df_a = pd.read_excel("usu_individual_T124.xlsx")
# Filtrar solo región 40
df_a = df_a[df_a["REGION"] == 40]
display(df_a)
# Leer archivo .dta
df_b = pd.read_stata("Individual_t104.dta")
# Filtrar solo región 40
df_b = df_b[df_b["region"] == 40]
display(df_b)
# Unir ambos archivos
df = pd.concat([df_a, df_b])
# Resetear índice y mostrar
df.reset_index(drop=True, inplace=True)
print(df.shape)
display(df)

#Resolucion del punto B

#Resolucion del punto C

Requirement already satisfied: pandas in c:\users\cece\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\cece\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cece\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cece\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cece\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\cece\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,PDECIFR,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH
20,TQRMNOPUYHMOKPCDEGOIH00800329,2024,1,1,1,1,40,N,18,371,...,8.0,10,187500.0,5,5.0,7,NaN,6.0,8,367
21,TQRMNOPUYHMOKPCDEGOIH00800329,2024,1,1,2,1,40,N,18,371,...,8.0,10,187500.0,5,5.0,7,NaN,6.0,8,367
22,TQRMNOPUYHMOKPCDEGOIH00800329,2024,1,1,3,1,40,N,18,371,...,8.0,10,187500.0,5,5.0,7,NaN,6.0,8,367
23,TQRMNOPUYHMOKPCDEGOIH00800329,2024,1,1,4,1,40,N,18,371,...,8.0,10,187500.0,5,5.0,7,NaN,6.0,8,367
24,TQRMNOTSQHJKLMCDEGOIH00795856,2024,1,1,1,1,40,N,18,716,...,2.0,2,110000.0,3,3.0,4,NaN,3.0,5,706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46010,TQRMNORUYHMOLUCDEHPJB00801354,2024,1,1,2,1,40,S,29,488,...,NaN,6,85800.0,2,2.0,3,2.0,NaN,3,572
46011,TQRMNORUYHMOLUCDEHPJB00801354,2024,1,1,3,1,40,S,29,488,...,NaN,6,85800.0,2,2.0,3,2.0,NaN,3,572
46012,TQRMNORUYHMOLUCDEHPJB00801354,2024,1,1,4,1,40,S,29,488,...,NaN,6,85800.0,2,2.0,3,2.0,NaN,3,572
46013,TQRMNORUYHMOLUCDEHPJB00801354,2024,1,1,5,0,40,S,29,488,...,NaN,6,85800.0,2,2.0,3,2.0,NaN,3,572
46014,TQRMNOPWPHLMLPCDEHPJB00854501,2024,1,1,1,1,40,S,29,438,...,NaN,1,100000.0,2,3.0,3,2.0,NaN,3,498

Empty DataFrame
Columns: [CODUSU, nro_hogar, componente, h15, ano4, trimestre, region, mas_500, aglomerado, pondera, ch03, ch04, ch06, ch07, ch08, ch09, ch10, ch11, ch12, ch13, ch14, ch15, ch15_cod, ch16, ch16_cod, nivel_ed, estado, cat_ocup, cat_inac, pp02c1, pp02c2, pp02c3, pp02c4, pp02c5, pp02c6, pp02c7, pp02c8, pp02e, pp02h, pp02i, pp03c, pp03d, pp3e_tot, pp3f_tot, pp03g, pp03h, pp03i, pp03j, intensi, pp04a, pp04b_cod, pp04b1, pp04b2, pp04b3_mes, pp04b3_ano, pp04b3_dia, pp04c, pp04c99, pp04d_cod, pp04g, pp05b2_mes, pp05b2_ano, pp05b2_dia, pp05c_1, pp05c_2, pp05c_3, pp05e, pp05f, pp05h, pp06a, pp06c, pp06d, pp06e, pp06h, pp07a, pp07c, pp07d, pp07e, pp07f1, pp07f2, pp07f3, pp07f4, pp07f5, pp07g1, pp07g2, pp07g3, pp07g4, pp07g_59, pp07h, pp07i, pp07j, pp07k, pp08d1, pp08d4, pp08f1, pp08f2, pp08j1, pp08j2, pp08j3, pp09a, ...]
Index: []

[0 rows x 176 columns]

(9699, 352)

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
0,TQRMNOPUYHMOKPCDEGOIH00800329,2024.0,1.0,1.0,1.0,1.0,40.0,N,18.0,371.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TQRMNOPUYHMOKPCDEGOIH00800329,2024.0,1.0,1.0,2.0,1.0,40.0,N,18.0,371.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TQRMNOPUYHMOKPCDEGOIH00800329,2024.0,1.0,1.0,3.0,1.0,40.0,N,18.0,371.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TQRMNOPUYHMOKPCDEGOIH00800329,2024.0,1.0,1.0,4.0,1.0,40.0,N,18.0,371.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TQRMNOTSQHJKLMCDEGOIH00795856,2024.0,1.0,1.0,1.0,1.0,40.0,N,18.0,716.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9694,TQRMNORUYHMOLUCDEHPJB00801354,2024.0,1.0,1.0,2.0,1.0,40.0,S,29.0,488.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9695,TQRMNORUYHMOLUCDEHPJB00801354,2024.0,1.0,1.0,3.0,1.0,40.0,S,29.0,488.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9696,TQRMNORUYHMOLUCDEHPJB00801354,2024.0,1.0,1.0,4.0,1.0,40.0,S,29.0,488.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9697,TQRMNORUYHMOLUCDEHPJB00801354,2024.0,1.0,1.0,5.0,0.0,40.0,S,29.0,488.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9698,TQRMNOPWPHLMLPCDEHPJB00854501,2024.0,1.0,1.0,1.0,1.0,40.0,S,29.0,438.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Resolucion del ejercicio 3

In [ ]:
#Resolucion del ejercicio 4

In [ ]:
#Resolucion del ejercicio 5

In [ ]:
#Resolucion del ejercicio 6

In [ ]:
#Resolucion del ejercicio 7

In [ ]:
#Resolucion del ejercicio 8

In [ ]:
#Resolucion del ejercicio 9

In [1]:
#Para convertir archivo .ipynb a pdf sin incluir los codigos
#Instala nbconvert si no lo tienes
!pip install nbconvert
#Usar el siguiente comando en la terminal: jupyter nbconvert --to pdf --TemplateExporter.exclude_input=True tu_archivo.ipynb

Requirement already satisfied: nbconvert in c:\users\usuario\anaconda3\lib\site-packages (7.16.4)
Requirement already satisfied: beautifulsoup4 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (4.1.0)
Requirement already satisfied: defusedxml in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: jinja2>=3.0 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (3.1.4)
Requirement already satisfied: jupyter-core>=4.7 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (5.7.2)
Requirement already satisfied: jupyterlab-pygments in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (0.1.2)
Requirement already satisfied: markupsafe>=2.0 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (2.1.3)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (2.0.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (0.8.0)
Requirement already satisfied: nbformat>=5.7 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (5.10.4)
Requirement already satisfied: packaging in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (24.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (1.5.0)
Requirement already satisfied: pygments>=2.4.1 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (2.15.1)
Requirement already satisfied: tinycss2 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (1.2.1)
Requirement already satisfied: traitlets>=5.1 in c:\users\usuario\anaconda3\lib\site-packages (from nbconvert) (5.14.3)
Requirement already satisfied: six>=1.9.0 in c:\users\usuario\anaconda3\lib\site-packages (from bleach!=5.0.0->nbconvert) (1.16.0)
Requirement already satisfied: webencodings in c:\users\usuario\anaconda3\lib\site-packages (from bleach!=5.0.0->nbconvert) (0.5.1)
Requirement already satisfied: platformdirs>=2.5 in c:\users\usuario\anaconda3\lib\site-packages (from jupyter-core>=4.7->nbconvert) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\usuario\anaconda3\lib\site-packages (from jupyter-core>=4.7->nbconvert) (305.1)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\usuario\anaconda3\lib\site-packages (from nbclient>=0.5.0->nbconvert) (8.6.0)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\usuario\anaconda3\lib\site-packages (from nbformat>=5.7->nbconvert) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\usuario\anaconda3\lib\site-packages (from nbformat>=5.7->nbconvert) (4.23.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\usuario\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert) (2.5)
Requirement already satisfied: attrs>=22.2.0 in c:\users\usuario\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\usuario\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\usuario\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\usuario\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (0.10.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (2.9.0.post0)
Requirement already satisfied: pyzmq>=23.0 in c:\users\usuario\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (25.1.2)
Requirement already satisfied: tornado>=6.2 in c:\users\usuario\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (6.4.1)